:root {
  --main-color-bright: white;
  --secondary-color-bright: black;
  --main-color-dark: black;
  --secondary-color-dark: white;
}

html, body {
  min-height: 100vh;
  min-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color-bright);
}

#theme-toggle {
  position: absolute;
  top: 15px;
  left: 15px;
  color: var(--secondary-color-bright);
  border: 2px solid var(--secondary-color-bright);
  border-radius: 5px;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  aspect-ratio: 1/1;
  width: min(500px, 90vw);
  margin-bottom: 50px;
}

.cell {
  background-color: var(--main-color-bright);
  color: var(--secondary-color-bright);
  border: none;
  font-size: 8rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--secondary-color-bright);
}

/* Remove duplicates to keep clean tic-tac-toe */
.cell:nth-child(-n+3) { border-top: none; }
.cell:nth-child(3n+1) { border-left: none; }
.cell:nth-child(3n)   { border-right: none; }
.cell:nth-last-child(-n+3) { border-bottom: none; }

.win {
  color: var(--main-color-bright);
}

.tie {
  border-color: var(--main-color-bright);
}

.description {
  font-size: 1.5rem;
  display: flex;
  width: min(500px, 90vw);
  gap: 20px;
  align-items: start;
  justify-content: space-around;
  text-align: center;
  color: var(--secondary-color-bright);
}

.description > * {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  height: 100%;
}

.score {
  font-size: 2rem;
  font-weight: bold;
}

/* Dark theme */
.dark-theme {
  --main-color: var(--main-color-dark);
  --secondary-color: var(--secondary-color-dark);
}

.dark-theme html, body {
  background-color: var(--main-color);
}

.dark-theme #theme-toggle {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.dark-theme .cell {
  background-color: var(--main-color);
  color: var(--secondary-color);
  border: 3px solid var(--secondary-color);
}

.dark-theme .description {
  color: var(--secondary-color);
}

.dark-theme .win {
  color: var(--main-color);
}

.dark-theme .tie {
  border-color: var(--main-color);
}

.cell:nth-child(-n+3) { border-top: none; }
.cell:nth-child(3n+1) { border-left: none; }
.cell:nth-child(3n)   { border-right: none; }
.cell:nth-last-child(-n+3) { border-bottom: none; }
/* Dark theme */

@media (max-width: 600px) {

  .cell {
    font-size: 24vw;
  }

  .description {
    display: grid;
    grid-template-areas: 
      'x-score tie-score o-score'
      'turn turn turn';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: min(500px, 90vw);
    font-size: 5vw;
  }

  .score {
    font-size: 8vw;
  }

  .x-score { grid-area: x-score; }
  .tie-score { grid-area: tie-score; }
  .o-score { grid-area: o-score; }
  .turn { grid-area: turn; }
}

@media (max-height: 600px) {
  .board {
    width: min(400px, 90vw);
  }

  .cell {
    font-size: 16vh;
  }
}